<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Task</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %><%= "(#{project.status})" %></td>
        <td><%= link_to 'New Task', new_task_path(project_id: project.id) %></td>

        <td><table>
          <% project.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= link_to task.status, edit_task_path(task) %></td>
            </tr>
          <% end %>
        </table></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
